<form style="visibility:hidden" id='outpostSearch' action='http://www.tf2outpost.com/search' method='post' target='_blank'>
      <input type='hidden' id='outpostJson' name='json'/>
      <input type='submit' id='outpostSubmit' name='submit' value='Submit!'/>
    </form>


<form class="form-horizontal" role="form">
  <div class="form-group">
    <div class="col-sm-12">
      <div class="input-group">
        <div class="input-group-btn">
          <div ng-click="adjustFilter(filter.unobtained)" ng-class="{true : 'btn btn-primary active',false : 'btn btn-default'}[filter.unobtained.value]">
            <span class="hidden-xs">Wanted</span><span class="visible-xs glyphicon glyphicon-thumbs-up"></span>
          </div>
          <div ng-click="adjustFilter(filter.unknown)" ng-class="{true : 'btn btn-warning active',false : 'btn btn-default'}[filter.unknown.value]">
            <span class="hidden-xs">Unknown</span><span class="visible-xs glyphicon glyphicon-question-sign"></span>
          </div>
          <div ng-click="adjustFilter(filter.obtained)" ng-class="{true : 'btn btn-success active',false : 'btn btn-default'}[filter.obtained.value]">
            <span class="hidden-xs">Complete Set</span><span class="visible-xs glyphicon glyphicon-ok"></span>
          </div>
          <div ng-click="adjustFilter(filter.unwanted)" ng-class="{true : 'btn btn-danger active',false : 'btn btn-default'}[filter.unwanted.value]">
            <span class="hidden-xs">Unwanted</span><span class="visible-xs glyphicon glyphicon-thumbs-down"></span>
          </div>
        </div>
        <input type="text" class="form-control" ng-model="search.name" placeholder="Item" ng-change="currentPage=0">
      </div>
    </div>
  </div>
  </form>
  <ul class="pager">
    <li ng-class="{true:'previous disabled', false:'previous'}[currentPage == 0]"><a href="javascript:;" ng-click="previous(currentPage)">&larr;
        Previous</a></li>
    <li ng-class="{true:'next disabled', false:'next'}[currentPage == numberOfPages]"><a href="javascript:;" ng-click="next(currentPage)">Next &rarr;</a></li>
  </ul>
  <div
    ng-repeat="item in items | stateFilter:selectedState | filter:search |  orderBy:'effectivePriority':true | startFrom:currentPage*pageSize | limitTo:pageSize"
    ng-class="{3 : 'panel panel-success', 2 : 'panel panel-warning', 1 : 'panel panel-primary', 0 : 'panel panel-danger'}[item.state]">
    <div class="panel-heading">
      <img class="pull-left img-thumbnail media-object" style="margin-right:10px;" height="64" width="64" src="{{item.image}}" alt="" />
      <span class="badge">{{item.itemId}}</span>&nbsp;{{item.name}} <span class="glyphicon glyphicon-thumbs-up" ng-show="item.state == filter.unobtained.key"></span>
      <span class="glyphicon glyphicon-thumbs-down" ng-show="item.state == filter.unwanted.key"></span> <span class="glyphicon glyphicon-ok"
        ng-show="item.state == filter.obtained.key"></span> <span class="glyphicon glyphicon-question-sign" ng-show="item.state == filter.unknown.key"></span>

<div class="btn-group btn-group-xs pull-right hidden-xs">
        <button ng-show="steamId == mySteamId" ng-click="markAs(item.wantedId,filter.unobtained.key)" type="button" class="btn btn-primary">
          <span class="glyphicon glyphicon-thumbs-up"></span> Wanted
        </button>
        <button ng-show="steamId == mySteamId" ng-click="markAs(item.wantedId,filter.unwanted.key)" type="button" class="btn btn-danger">
          <span class="glyphicon glyphicon-thumbs-down"></span> Unwanted
        </button>
        <button ng-show="steamId == mySteamId" ng-click="markAs(item.wantedId,filter.obtained.key)" type="button" class="btn btn-success">
          <span class="glyphicon glyphicon-ok"></span> Complete
        </button>
        <button ng-show="steamId == mySteamId" ng-click="markAs(item.wantedId,filter.unknown.key)" type="button" class="btn btn-warning">
          <span class="glyphicon glyphicon-question-sign"></span> Unknown
        </button>
        <button ng-show="steamId == mySteamId" ng-click="showAddDetail(item.wantedId)" type="button" class="btn btn-xs btn-default" data-toggle="modal"
          data-target="#myModal">
          <span class="glyphicon glyphicon-plus"></span> Add Detail
        </button>
      </div>
      <div class="btn-group btn-group-xs pull-right visible-xs" ng-show="steamId == mySteamId">
        <button ng-show="steamId == mySteamId" type="button" class="btn btn-default dropdown-toggle pull-right" data-toggle="dropdown">
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu " role="menu">
          <li><a href="javascript:;" ng-click="markAs(item.wantedId,filter.unobtained.key)"><span class="glyphicon glyphicon-thumbs-up"></span> Wanted</a></li>
          <li><a href="javascript:;" ng-click="markAs(item.wantedId,filter.unwanted.key)"><span class="glyphicon glyphicon-thumbs-down"></span>
              Unwanted</a></li>
          <li><a href="javascript:;" ng-click="markAs(item.wantedId,filter.obtained.key)"><span class="glyphicon glyphicon-ok"></span> Complete</a></li>
          <li><a href="javascript:;" ng-click="markAs(item.wantedId,filter.unknown.key)"><span class="glyphicon glyphicon-question-sign"></span>
              Unknown</a></li>
          <li class="divider"></li>
          <li ng-click="showAddDetail(item.wantedId)" data-toggle="modal" data-target="#myModal"><a href="javascript:;"><span
              class="glyphicon glyphicon-plus"></span> Add Detail</a></li>
        </ul>
      </div>
    </div>
    <table class="table table-condensed">

      <thead ng-hide="item.details == 0">
        <tr class="hidden-xs" >
          <th></th>
          <th class="text-center"><span class="glyphicon glyphicon-globe"></span></th>
          <th>Obtained</th>
          <th>Quality</th>
          <th>Level</th>
          <th>Tradable</th>
          <th>Craftable</th>
          <th>Craft#</th>
          <th>Giftwrap</th>
          <th>Price</th>
          <th>Priority</th>
        </tr>
        <tr class="visible-xs">
          <th></th>
          <th class="text-center"><span class="glyphicon glyphicon-thumbs-up"></span>/<span class="glyphicon glyphicon-ok"></span></th>
          <th class="text-center">Q</th>
          <th><span style="font-family: item_icons">&#57477;</span></th>
          <th><span style="font-family: item_icons">&#58456;</span></th>
          <th><span style="font-family: item_icons">&#58465;</span></th>
          <th><span style="font-family: item_icons">&#58465;</span>#</th>
          <th><span style="font-family: item_icons">&#57456;</span></th>
          <th class="hidden-xs"><span style="font-family: item_icons">&#57896;</span></th>
          <th><span style="font-family: item_icons">&#58372;</span></th>
        </tr>
      </thead>
      <tr ng-repeat="detail in item.details | orderBy:['isObtained','-priority']">
        <td ng-class="{true:'strike success', false:'primary'}[detail.isObtained]">
          <div class="btn-group btn-group-xs" ng-show="steamId == mySteamId">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="javascript:;" ng-click="edit(detail.detailId)"><span class="glyphicon glyphicon-edit"></span> Edit</a></li>
              <li><a ng-show="detail.isObtained == false" href="javascript:;" ng-click="markDetailAs(item.wantedId,detail.detailId, true)"><span class="glyphicon glyphicon-ok"></span> Mark as obtained</a>
              <a ng-show="detail.isObtained == true" href="javascript:;" ng-click="markDetailAs(item.wantedId,detail.detailId, false)"><span class="glyphicon glyphicon-ok"></span> Mark as Unobtained</a>
              </li>
              <li class="divider"></li>
              <li ng-class="{true:'disabled'}[detail.priority == 3]"><a href="javascript:;" ng-click="setPriority(detail.detailId, 3)"><span
                  class="glyphicon glyphicon-exclamation-sign"></span> Critical Priority</a></li>
              <li ng-class="{true: 'disabled'}[detail.priority == 2]"><a href="javascript:;" ng-click="setPriority(detail.detailId, 2)"><span
                  class="glyphicon glyphicon-arrow-up"></span> High Priority</a></li>
              <li ng-class="{true:'disabled'}[detail.priority == 1]"><a href="javascript:;" ng-click="setPriority(detail.detailId, 1)"><span
                  class="glyphicon glyphicon-arrow-up"></span> Medium Priority</a></li>
              <li ng-class="{true:'disabled'}[detail.priority == 0]"><a href="javascript:;" ng-click="setPriority(detail.detailId, 0)"><span
                  class="glyphicon glyphicon-arrow-down"></span> Low Priority</a></li>
              <li class="divider"></li>

              <li ng-click="showDeleteDetail(detail.detailId)" data-toggle="modal" data-target="#delete"><a href="javascript:;"><span
                  class="glyphicon glyphicon-remove"></span> Delete</a></li>



                  <li ng-class=""><a href="javascript:;" ng-click="outpostSearch(item.itemId, detail.levelNumber, detail.quality)"><span
                  class="glyphicon glyphicon-search"></span> Search </a></li>

            </ul>
          </div>
        </td>
        <td class="hidden-xs"><div class="btn-group"><button ng-click="outpostSearch(item.itemId, detail.levelNumber, detail.quality)" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-search"></span></button>
        <button ng-click="wiki(item.itemId)" class="btn btn-xs btn-default">W</button></div></td>
        <td ng-show="!detail.isObtained" class="primary"><span class="label label-primary hidden-xs"><span class="glyphicon glyphicon-thumbs-up"></span>
            Wanted</span><span class="label label-primary visible-xs"><span class="glyphicon glyphicon-thumbs-up"></span></span></td>
        <td ng-show="detail.isObtained" class="success"><span class="label label-success hidden-xs"><span class="glyphicon glyphicon-ok"></span>
            Obtained</span><span class="label label-success visible-xs"><span class="glyphicon glyphicon-ok"></span></span></td>
        <td ng-class="{true:'strike success', false:'primary'}[detail.isObtained]"><span class="visible-xs"
          ng-class="qualityIdToClassForLabel(detail.quality)">{{qualityIdToShortString(detail.quality)}}</span> <span class="hidden-xs" ng-class="qualityIdToClassForLabel(detail.quality)">{{qualityIdToString(detail.quality)}}</span></td>
        <td ng-class="{true:'strike success', false:'primary'}[detail.isObtained]"><span>{{levelToString(detail.levelNumber)}}</span></td>
        <td ng-class="{true:'strike success', false:'primary'}[detail.isObtained]"><span class="visible-xs" ng-class="tradableToClass(detail.isTradable)"></span><span
          class="hidden-xs">{{tradableToString(detail.isTradable)}}</span></td>
        <td ng-class="{true:'strike success', false:'primary'}[detail.isObtained]"><span class="visible-xs" ng-class="craftableToClass(detail.isCraftable)"></span><span
          class="hidden-xs">{{craftableToString(detail.isCraftable)}}</span></td>
        <td ng-class="{true:'strike success', false:'primary'}[detail.isObtained]"><span class="visible-xs"
          ng-class="craftNumberToClass(detail.craftNumber)"></span><span
          ng-class="{true:'hidden-xs', false:''}[isNumber(craftNumberToString(detail.craftNumber))]">{{craftNumberToString(detail.craftNumber)}}</span></td>
        <td ng-class="{true:'strike success', false:'primary'}[detail.isObtained]"><span class="visible-xs"
          ng-class="giftwrapToClass(detail.isGiftWrapped)"></span><span class="hidden-xs">{{giftwrapToString(detail.isGiftWrapped)}}</span></td>
        <td class="hidden-xs"  ng-class="{true:'strike success', false:'primary'}[detail.isObtained]"><span
          class="hidden-xs">{{detail.price}}</span></td>
        <td ng-class="{true:'strike success', false:'primary'}[detail.isObtained]"><span class="visible-xs" ng-class="priorityToClass(detail.priority)"></span><span
          class="hidden-xs">{{priorityToString(detail.priority)}}</span></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div wanted-dialog proposed-detail="proposedDetail" push-detail-function="pushDetailToModel(wantedId, details)"></div>
  <div wanted-delete proposed-detail-delete="proposedDetailDelete" remove-detail-function="removeDetailFromModel(detailId)"></div>
  <ul class="pager">
    <li ng-class="{true:'previous disabled', false:'previous'}[currentPage == 0]"><a href="javascript:;" ng-click="previous(currentPage)">&larr;
        Previous</a></li>
    <li ng-class="{true:'next disabled', false:'next'}[currentPage == numberOfPages]"><a href="javascript:;" ng-click="next(currentPage)">Next &rarr;</a></li>
  </ul>
