<div>
  <div wanted-nav logged-in="loggedIn" my-steam-id="mySteamId"></div>
  <div class="well">
    Wanted.TF allows you to manage lists of your most wanted items in team fortress 2.

    <p>Built with AngularJS, Play Framework, Bootstrap, MySQL, CI with Team City, Product backlog with Jira, Code keeping with Git</p>
    <p>Artwork by John Kleckner (hejibits), licensed with permission.</p>
    <p>Steam data from the Steam API. Powered by Steam. Unaffiliated with Steam.</p>
    <p>Use of www.list.tf APIs is prohibited without express permission.</p>
  </div>
  <div wanted-footer></div>
</div>
