<div>
  <div wanted-nav logged-in="loggedIn" my-steam-id="mySteamId"></div>
  <div class="jumbotron">
    <h1>Wanted.TF</h1>
    <p>Your most wanted items in Team Fortress 2</p>
    <p>
      <a href="/login"><img ng-hide="loggedIn" alt="Sign In" src="/assets/images/sits_large_noborder.png"></a>
    </p>
    <p ng-hide="!loggedIn">You are logged in as {{mySteamId}}</p>
  </div>
  <div class="well">
  <div class="row">
<div class="col-md-2"></div>
  <div class="col-md-2"><button type="button" class="btn btn-success btn-block">Steam Group</button></div>
  <div class="col-md-2"><button type="button" class="btn btn-info btn-block">Twitter</button></div>
  <div class="col-md-2"><button type="button" class="btn btn-primary btn-block">Facebook</button></div>
  <div class="col-md-2"><button type="button" class="btn btn-danger btn-block">Google+</button></div>
<div class="col-md-2"></div>
</div>


  </div>
  <footer class="footer">
    <center>
      <p>&copy; 2013 Wanted.tf All rights reserved.</p>
      <p>Powered by Steam. Not affiliated with Steam.</p>
      <p>
        <a href="/privacy">Privacy Policy</a>
      </p>
      <a href="/privacy"> </a>
    </center>
  </footer>
</div>
