<div>
  <div wanted-nav logged-in="loggedIn" my-steam-id="mySteamId"></div>
  <div class="container">
    <div class="row-fluid">
      <div class="span 12 hidden-xs">
        <h2>
          <img src="{{avatar}}" alt="..." class="img-thumbnail" />&nbsp;{{name}}
        </h2>
        <p class="alert alert-danger">Custom warning message here.</p>
      </div>
      <div class="span 12 visible-xs">
        <h2 class="text-center">
          <img src="{{avatar}}" alt="..." class="img-thumbnail" />
        </h2>
        <h2 class="text-center">
          {{name}}
        </h2>
        <p class="alert alert-danger">Custom warning message here.</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div wanted-item steam-id="id" my-steam-id="mySteamId"></div>
  </div>
  <div wanted-footer></div>
</div>
