<div ng-controller="MyCtrl1">
  <div wanted-nav logged-in="loggedIn" my-steam-id="mySteamId"></div>
  <div class="well">
  <div class="alert alert-danger">Oh dear. Steam servers are under heavy load and are not responding. You cannot login at this time.</div>
  <center><img alt="Steam servers are under heavy load..." src="/assets/images/503.png" width="800pc" height="600pc"></center>
  </div>
  <footer class="footer">
    <center>
      <p>&copy; 2013 Wanted.tf All rights reserved.</p>
      <p>Powered by Steam. Not affiliated with Steam.</p>
      <p>
        <a href="/privacy">Privacy Policy</a>
      </p>
      <a href="/privacy"> </a>
    </center>
  </footer>
</div>
