<div  ng-controller="MyCtrl3">

   <div wanted-nav></div>


<div class="jumbotron">
  <h1>Wanted.TF</h1>
  <p>Your most wanted items in Team Fortress 2</p>
  <p><a href="/login"><img alt="Sign In" src="/assets/images/sits_large_noborder.png"></a></p>
</div>



<footer class="footer">
<center>
            <p>&copy; 2013 Wanted.tf All rights reserved.</p>
      <p>Powered by Steam. Not affiliated with Steam.</p>
      <p><a href="/privacy">Privacy Policy</a></p><a href="/privacy">
        </a>
    </center></footer>
    </div>
