<div>
  <div wanted-nav logged-in="loggedIn" my-steam-id="mySteamId"></div>
  <div class="well">
    <div class="alert alert-danger">Oh dear. Steam servers are under heavy load and are not responding. You cannot login at this time.</div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8 pagination-centered">
        <img class="img-responsive img-thumbnail" alt="Steam servers are under heavy load..." src="/assets/images/503.png">
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
  <div wanted-footer></div>
</div>
