<div>
  <div wanted-nav logged-in="loggedIn" my-steam-id="mySteamId"></div>
  <div class="well">
    Sync lets you add all things in your backpack and mark them as obtained.
    <p>Click the sync button below to get started</p>
    <div class="btn-group btn-group-lg">
      <button ng-show="!syncSuccess" ng-click="syncBackpack()" type="button" data-loading-text="Syncing..." class="syncButton btn btn-danger">Sync my
        backpack</button>
    </div>
    <!--  div ng-show="working" class="progress progress-striped active">
      <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="counter" aria-valuemin="0" aria-valuemax="100" style="width: {{counter}}%">
        <span class="sr-only">45% Complete</span>
      </div>
    </div -->
    <div class="btn-group btn-group-lg">
      <button ng-show="syncSuccess" type="button" class="btn btn-success">Sync Successful!</button>
    </div>
  </div>
  <div wanted-footer></div>
</div>
