@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <head>
  <script src="/assets/lib/angular/angular.js"></script>
  <script src="/assets/lib/angular/angular-route.js"></script>
  <script src="/assets/js/app.js"></script>
  <script src="/assets/js/services.js"></script>
  <script src="/assets/js/controllers.js"></script>
  <script src="/assets/js/filters.js"></script>
  <script src="/assets/js/directives.js"></script>
  
  
    <title>wanted.tf</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

<body ng-controller="MyCtrl1">
    <nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">wanted.tf</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
	  <li><a href="#">Most Wanted</a></li>
      <li><a href="#">About</a></li>
    </ul>
	
	<form class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
    </form>

    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">Sign in</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
{{id}}
<div class="well">

	<div ng-repeat="item in items" class="panel panel-primary">
		  <div class="panel-heading"><a class="pull-left" href="#">
              <img class="media-object" height="24" width="24" hspace="5" src="http://media.steampowered.com/apps/440/icons/c_ambassador_opt.5a05f0ae3486dc204d2c2e037cda748d58e6bc2b.png" alt=""/>
  </a> {{item.itemId}} <div class="btn-group btn-group-xs pull-right"><button type="button" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-plus"></span> Add entry</button></div></div>
		  <table class="table table-condensed">
			<thead>
				<tr>
                    <th></th>
				  <th>Quality</th>
				  <th>Level</th>
				  <th>Tradable</th>
				  <th>Craftable</th>
				  <th>Craft</th>
				  <th>Giftwrapped</th>
                    <th>Price Range</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="detail in item.details">
                    <td>
<div class="btn-group btn-group-xs">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    Action <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#/edit/{{detail.detailId}}/"><span class="glyphicon glyphicon-edit"></span> Edit</a></li>
    <li><a href="#/obtained/{{detail.detailId}}/"><span class="glyphicon glyphicon-ok"></span> Mark as obtained</a></li>
    <li class="divider"></li>
    <li><a href="#/delete/{{detail.detailId}}/"><span class="glyphicon glyphicon-remove"></span> Delete</a></li>
  </ul>
</div>
					</td>
				  <td>{{qualityIdToString(detail.quality)}}</td>
				  <td>{{detail.level}}</td>
				  <td>{{tradableToString(detail.tradable)}}</td>
				  <td>{{craftableToString(detail.craftable)}}</td>
				  <td>{{craftNumberToString(detail.craftnumber)}}</td>
				  <td>{{giftwrapToString(detail.giftwrapped)}}</td>
				  <td>{{detail.price}}</td>
				</tr>
				
			</tbody>
		</table>
	</div>
</div>
<footer class="footer">
<center>
            <p>© 2013 Wanted.tf All rights reserved.</p>
			<p>Powered by Steam. Not affiliated with Steam.</p>
			<p><a href="/privacy">Privacy Policy</a></p><a href="/privacy">
        </a>
		</center></footer>
 <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  </body>

</html>
